<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body style="background-color: pink; " >
  
        <div class="container flex flex-wrap items-center justify-between mx-auto">     
            <b>
            <p class="py=7">
                <span class="self-center text-4xl font-semibold whitespace-nowrap text-gray-500 bg-gray-10 ">ONLINE-VOTING-SYSTEM</span>
        </p>    
        </b>       
        </div>
    <table align="center">
          <tr>
            <td>
            <b >
            <p class="py-6">ONLINE VOTING APPLICATION</p>
           </b>
            </td>
           </tr>
           <tr>
            <td>
            <p class="py-6">New here?Create a account <a class="text-blue-600" href="/signup">Sign-up</a></p>
            </td>
        </tr>
        <tr>
            <td>
            <p class="py-6">Already have an account?Login here<a class="text-blue-600" href="/login">Sign-in</a></p>
        </td>
        </tr>
         
</table>
</body>
</html>